/* 
color: rgb(220, 233, 213);
color: rgb(32, 17, 16); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 0px 55px 30px 35px;
  background-color: rgb(32, 17, 16);
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

header li {
  color: rgb(220, 233, 213);
  display: inline;
}

header a {
  color: rgb(220, 233, 213);
  text-decoration: none;
  font-size: 25px;
  padding-right: 55px;
}

header h1 {
  color: rgb(32, 17, 16);
  padding: 0 10px;
  background-color: rgb(220, 233, 213);
  display: inline-block;
  border-radius: .3rem;
  box-shadow: 6px 5px rgb(167, 167, 167);
  font-size: 40px;
}


/* REACH OUT STYLES START */
body{
background-color:rgb(220, 233, 213) ;
}

.card {
  border: black 5px solid;
  background-color: rgb(220, 233, 213);
  margin: 40px;
}

.card h3 {
  background-color: rgb(32, 17, 16);
  color: rgb(220, 233, 213);
  padding: 15px;
  font-size: 25px;
}

.contact-form input,
.contact-form {
  border: 1px solid rgb(220, 233, 213);
  display: block;
  padding: 14px 30px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contact-form button {
  width: 100%;
  border: none;
  background: rgb(102, 102, 102);
  color: rgb(219, 217, 229);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.instead {
  text-decoration: none;
  font-size: 20px;
}

/* REACH OUT STYLES END */

/* dahsboard */
.newpost{
  color: rgb(219, 217, 229);
  text-align:center ;
  padding: 0 15px;
  background-color: rgb(32, 17, 16);
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 46%;
  font-size: 25px;
  border-radius: 10px;
}